
<section class="footer pb-3 pt-3 bg-dark text-light">    
    <div class="h4 title text-center">Dheo Apriansyah</div>
    <div class="text-center text-muted">
        <p class="text-light">&copy; Dheo Apriansyah 2020</p>
    </div>
    <div class="container text-center">
        <p>Temukan Saya</p>
        <a href="https://github.com/DheoAp" target="_blank" rel="nofollow" title="GitHub" style="color: inherit;"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/dheo-apriansyah-b13100174" target="_blank" rel="nofollow" title="linkedin"  style="color: inherit;"><i class="fab fa-linkedin fa-2x"></i></a>
        <i class="fab fa-youtube fa-2x" title="Youtube"></i>
    </div>
</section>
