{% extends 'base.html' %}
{% block title %}
    Home | Dheo Apriansyah
{% endblock title %}

{% block content-cv %}

<style>
    body{
    background-color: #f1f2f6;
    padding-top: 50px
}
.card{
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.2);
}
html {
    scroll-behavior: smooth;
  }

img{
    width: 180px;
    height: 180px;
    margin: 0;
    /* top: 50%; */
    /* border: 15px; */
    
}
#jumbotron{
    background-image: url("/static/img/page-header.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    padding-top: 120px;
    margin: 0;
    
    
}
.footer{
	min-height: 50px;
    padding-top: 15px;
    margin-top: 100px;
    margin-bottom: 0;
    /* background-color: gray;
    border: 1px solid gray; */
}

</style>

<div id="jumbotron" class="mb-5">    
    <div class="container">
        <div class="content-center text-center">
            <div class="cc-profile-image"><a href="#"><img id="img-profile" class="rounded-circle" src="/static/img/dheo.jpg" alt="Image"/></a></div>
            <div class="h2 title text-light mt-4">Hallo!</div>
           
        </div>
    </div>    
</div>

<!-- About -->
<div  class="section mb-5">
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About</div>
                        <p>Saya Dheo Apriansyah, saya alumni Universitas Bina Sarana Informatika tahun 2019.</p>
                        <p> Saya pribadi memiliki rasa bertanggung jawab, jujur, teliti, tepat waktu, dan punya semangat tinggi dalam hal baru. Keseharian saya belajar bahasa pemprogaman secara otodiak baik di chanel YouTube atau situs website.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Name:</strong></div>
                            <div class="col-sm-8">Dheo Apriansyah</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                            <div class="col-sm-8">23</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><strong class="text-uppercase">Religion:</strong></div>
                            <div class="col-sm-8">Islam</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><strong class="text-uppercase">Gender:</strong></div>
                            <div class="col-sm-8">Male</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                            <div class="col-sm-8">dheoapriansyah97@gmail.com</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                            <div class="col-sm-8">+628-980-423-249</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                            <div class="col-sm-8">Mustika Sari, Kota Bekasi</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Skill -->
<div  class="section mb-5">
    <div class="container" >
        <div class="h4 text-center mb-4 title"><i class="fas fa-cogs"></i> Skills <i class="fas fa-cogs"></i></div>
        <div class="card" >
            <div class="card-body">
                <div class="row mb-2">                
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">HTML</span>
                            <div class="progress" style=" height: 23px;">
                                <div class="progress-bar progress-bar-primary" style="width: 80%;"></div><span class="ml-2" style="font-size: 15px;">80%</span>
                            </div>
                        </div>
                    </div>
                    <!-- col 2 -->
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">PYTHON</span>
                            <div class="progress" style=" height: 23px;">
                                <div class="progress-bar progress-bar-primary" style="width: 65%;"></div><span class="ml-2" style="font-size: 15px;">65%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">BOOTSTRAP</span>
                            <div class="progress" style=" height: 23px;">
                                <div class="progress-bar progress-bar-primary" style="width: 75%;"></div><span class="ml-2" style="font-size: 15px;">75%</span>
                            </div>
                        </div>
                    </div>
                    <!-- col 2 -->
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">DJANGO</span>
                            <div class="progress" style=" height: 23px;">
                                <div class="progress-bar progress-bar-primary" style="width: 65%;"></div><span class="ml-2" style="font-size: 15px;">65%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">GitHub</span>
                            <div class="progress" style=" height: 23px;">
                                <div class="progress-bar progress-bar-primary" style="width: 70%;"></div><span class="ml-2" style="font-size: 15px;">70%</span>
                            </div>
                        </div>
                    </div>
                    <!-- col 2 -->
                    <div class="col-md-6">
                        <div class="progress-container progress-primary"><span class="progress-badge">MySQL</span>
                            <div class="progress" style=" height: 23px;">
                                <div class="progress-bar progress-bar-primary" style="width: 75%;"></div><span class="ml-2" style="font-size: 15px;">75%</span>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<!-- Education -->
<div class="section">
    <div class="container">
        <div class="h4 text-center mb-4 title"><i class="fas fa-school"></i> Education <i class="fas fa-graduation-cap"></i></div>
        <div class="card" style="width: 80%; margin: auto;">
            <div class="row">
                <div class="col-lg">
                    <div class="card-body"> 
                      <div class="h4 mt-0 title">SMK Bina Karya Mandiri II </div>
                      <p class="category">Teknik Komputer Jaringan - 2015</p>                      
                    </div>                 
                </div>
                 
                <div class="col-lg">
                    <div class="card-body">   
                      <div class="h4 mt-0 title">Universitas Bina Sarana Informatika </div>
                      <p class="category">D3 Sistem Informasi - 2019</p>                      
                    </div>                 
                </div> 
            </div>
        </div>
    </div>
</div>

{% endblock content-cv %}
